# Ignore VS Code config files
.vscode/

# Ignore CMake build directory
build/
build-*/

# Ignore externally fetched libraries
external/

# macOS system files (optional but helpful)
.DS_Store

# Ignore compiled object files and executables
*.profraw
*.profdata

# Ignore log files
*.log

# Ignore frame captures
*.png
*.jpg
*.jpeg
*.bmp